.header, .navbar, .main,.advertise, .sidebar,.footer{
    background-color: bisque;
    border: 2px solid rgb(181, 37, 11);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.header{
    grid-area: header;
}
.navbar{
    grid-area:navbar;
}
.main{
    grid-area: main;
}
.advertise{
    grid-area: advertise;
}
.sidebar{
    grid-area: sidebar;
}
.footer{
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "navbar   main   main   sidebar"
    "navbar   main    main   advertise"
    "footer   footer   footer footer"
    ;
}
@media screen and(max-width:576px){
    .container{
        grid-template-areas: none
        "header"
        "navbar"
        "main"
        "sidebar"
        "advertise"
        "footer"
        ;
    }
    
}
@media screen and(min-width:576px) and(max-width:992px){
    .container{
        grid-template-areas: none
        "header header header"
        "navbar navbar navbar"
        "sidebar main main"
        "advertise footer footer"
        ;
    }
    
}